#msform {
    margin-top: 20px
}

#msform fieldset:not(:first-of-type) {
    display: none
}

.card {
    z-index: 0;
}

#progressbar {
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 14%;
    float: left;
    position: relative
}

#progressbar #user:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #description:before {
    font-family: FontAwesome;
    content: "\f039";
}

#progressbar #partA:before {
    content: "A";
}

#progressbar #partB:before {
    content: "B";
}

#progressbar #partC:before {
    content: "C";
}

#progressbar #partD:before {
    content: "D";
}

#progressbar #results:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    ;
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #007bff
}

#TermsConditions {
    border: 1px solid #999999;
    margin: 5px 0;
    padding: 3px;
    background: #ffffff
}