body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #6E2EAC;
}

img {
  vertical-align: middle;
  border-style: none;
}

.pa1 {
  font-size: 50px;
  font-family: inherit;
  font-weight: 500;
  -webkit-text-stroke: 2px #fff;
  color: #108F38;
}
/*-texto paquetes*/
.pa2 {
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  line-height : 20px;
  color: #ffffff;
  
/*-estilos baner morado*/

}
.height{
  height: 27em; /*-esto cambia el tamaño del baner*/
  overflow: hidden;
  width:65%;
}

.border-1 {
  position: relative;
  margin: auto;
  width: 135%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

/*-estilos baner morado end*/

.pa3 {
  font-size:20px;
  font-family: inherit;
  font-weight: 500;
  -webkit-text-stroke: .5px #fff;
  color: #108F38

}

.list-group-item{
font-size:14px;
background-color: #ffffff28;
color: ivory;
border: rgba(255, 255, 240, 0);
}

.textos{
  color: #ffffff;
  font-size: 60px !important;
}
.textosi{
  font-size: 49px;
}
.carousel-inner{
  height: 25em;
}
.carousel-inner img {
  width: 100%;
  margin: auto;
}
.verde{
  background-color: #008F36;
  padding: 1em;
}
.jsx-3089265182{
  display: none;
}
 


.hbspt-form{
  overflow: hidden;
}
.hs-form-iframe{
  margin:auto;
}

.card{
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0)
}
@media (min-width: 995px){
  .flecha{
    display: none;
  }
}

.menu {
   margin: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 70px;
   height: 70px;
   box-sizing: border-box;
   
}



/* .menu } */
/*El fukin estilo de menu*/
.nav {
  position:fixed;
  z-index: 50;
  width:200px;
  height:100vh;
  top:0;
  right:-220px; /*Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos sobre la hamburguesa*/
  padding-top:47px;
  background-color:#3695C5;
  border-left:4px solid rgba(0, 0, 0, 0.075);
  transition:all .5s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
}
   /*Estilos de los li del menú*/
   .nav__item {
     display:block;
     margin-top: 5%;
     margin-bottom: 5%;
     width:96%;
     margin:0 auto;
     line-height:3;
     position:relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
     border-bottom:.5px solid rgba(59, 62, 61, 0);
     border-top:.5px solid rgba(59, 62, 61, 0);
     background-color:transparent;
     font-family: 'Lato', sans-serif;
     text-align:center;
     color:rgba(221, 231, 228, 1);
   }
       /*Damos colocamos el triangulo negro a la pestaña del menú dónde nos encontramos actualmente*/
       .current:before {
          content:"";
          width:0;
          height:0;
          position:absolute; /*Le damos al before una posición absoluta relativa al li que lo contiene*/
          border-top:17px solid transparent;
          border-left:15px solid #1D2120;
          border-bottom:17px solid transparent;
          top:0px;
          right:-15px; /*Lo posicionamos -15px a la derecha de su contenedor*/
          z-index:4; /*le otorgamos un z-index alto para que se posicione arriba de otros elementeos*/
       }
      /*Colocamos el borde verde al triangulo por medio de otro trangulo verde*/
      .current:after {
          content:"";
          width:0;
          height:0;
          position:absolute;/*Le damos al after una posición absoluta relativa al li que lo contiene*/
          border-top:16.5px solid transparent;
          border-left:17px solid rgba(114, 126, 3, 1);
          border-bottom:17px solid transparent;
          top:.5px;
          right:-21px;
          z-index:1;  /*le otorgamos un z-index bajo para que se posicione debajo del trinagulo negro*/
      }
  /*Estos son los estilos de la hamburguesa del menú que abre y cierra el mismo*/
  .menu-toogle {
    
    position:fixed; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
    width: 35px;
    line-height:1.1;
    text-align:center;
    margin-top: 5.5%;
    top:6.5px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
    right: 15%;
    border-radius:3px;
    background-color: #6E2EAC;
    transition: all .5s ease; /*Añadimos una transición para que realice un desplazamineto suave*/
    z-index:10;
  }
    /*Añadimos la haburguesa y le damos unos estilos*/
    .menu-toogle::before {
      content:"☰";
      font-size:32px;
      color:white;
     
    }

/* Le damos unos estilos al contenedor principal*/
.main-w {
  width:100%;
  height:100vh;
  transition: all .5s ease;
}   
    .header-w figure {
      width:100%;
      height:150px;
      text-align:center;
      position:relative;
    }
        .header-w figure:before {
          content:"O";
          width:15px;
          height:15px;
          position:absolute;
          background-color:white;
          border-radius:100%;
          color:#A9BC00;
          font-size:120%;
          
          font-family:verdana;
          left:42vw;
          top:9vw;     
        }
        .header-w figure:after {
          content:"O";
          width:15px;
          height:15px;
          position:absolute;
          background-color:white;
          border-radius:100%;
          color:#A9BC00;
          font-size:120%;
        
          font-family:verdana;
          left:50.8vw;
          top:9vw; 
        }
    .featured-img {
      margin:3em 6vw 0 0;
      border:4px solid white;
      border-radius:100%;
    }
    .header-w__description {
      width:80%;
      height:auto;
      margin:0 auto;
      padding:1em;
      line-height:2;
      text-align:center;
      color:rgba(33, 36, 8, 1);
    }
        .header-w__title
        {
          font-size:300%;
          font-family:Lobster;
          margin:1em 0 0 0;
        }
        .header-w__title2 {
          font-size:250%;
          font-family:Lobster;
          margin:0;
        }
    .paragraph {
      width:80%;
      margin:0 auto;
      text-align:center;
      font-family:'Source Sans Pro', sans-serif;
    }

    /*Estos son los estilos que le dan la funcionalidad al menú*/
    /*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/
    .checkbox {
      display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
    }
    .checkbox:checked ~ .nav {
      right:-5px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
      position:fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
    }
    .checkbox:checked ~ .main-w {
      margin-right:200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
    }
    .checkbox:checked ~ .menu-toogle { 
      right:218px;
      position:fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*/
    }

    .menu-boton{ 
      background-color: #008F36;
      width: 100%;
      height: 5%;
      margin-top: 5%;
      margin-bottom: 5%;
    
    }

/* .menu end} */



/* texto de la primera seccion examen y videos */
.contra1
{
  color: rgb(255,255,255);
  font-size:60px;
  margin-top: 10%;
  margin-right:1%;
   margin-left: 1%;
   margin-bottom: 10%;
}

.contra2{
  color: rgb(255, 255, 255);
  font-size:40px;
  margin-top: 2%;
  margin-right:1%;
   margin-left: 1%;
   margin-bottom:1%;
}

.centrado{
  margin-left:10%;
}
@media (max-width: 990px){
  .centrado{
    margin-left: 1%;
    font-size:50px;
  }
}


/* texto de la primera seccion examen y videos */
.framo{
  margin-top: 1%;
  margin-right:5%;
   margin-left: 5%;
   margin-bottom: 1%;
   max-width: 92%;
   margin-top: 2em
}
.framoa{
margin-bottom:5%;
max-width:43%;
margin-left: 5%;
margin-bottom: 2em;
}
.framob{
  margin-bottom:5%;
  max-width: 43%;
margin-left: 5%;
margin-bottom: 2em;
  }

.ct1{
  color: rgba(255, 255, 255, 0.541);
}

  



/*footer*/
  ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #ff5e14;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #ffffff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text h6 {
  margin-bottom: 14px;
  font-size: 14px;
      color: #ffffff;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  
}

.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
  

.footer-widget-heading h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h6::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ffffff;
}
.footer-widget ul li {
  display: inline-block;
  
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #6E2EAC;
}
.footer-widget ul li a {
  color: #ffffff;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #E67022;
  border: 1px solid #E67022;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #E67022;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
.copyright-text p a{
  color: #6E2EAC;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #6E2EAC;
}
.footer-menu li a {
  font-size: 14px;
  color: #ffffff;
}

#button1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(228,174,14,0);
  border-color: rgba(0,0,0,0);
  font-size: 36px;
}

#button1:hover {
  background-color: white;
  color: #7b55d0;
  border-color: white;
}


.hotsuite {
  position: relative;
  width: auto;
  font-weight: 500;
  margin-top: 5%;
}


.bane{
  position: relative;
  margin: auto;
  width: 135%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

.conft{

  padding-bottom: 7.5%;
  width: auto;
  background: #3598c8;

}


.confta{
  background: #E67026;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
    width: 100%;
}

.colora{
 background: #fff
 ;

}

.margenew
{
margin-top: 5%;
margin-bottom: 5%;
color:#fff;
font-size: 30px;
text-align: center;
}
/*texto de la caja de nosotros*/
 .ax{

color:#028E37;
margin-bottom: 5%;
font-size: 40px;
 }
